.d-flex{
  display:flex;
}
.fw{
  flex-wrap:wrap;
}
.fc{
  flex-direction: column;
}
.jc{
  justify-content: center;
}
.je{
  justify-content: flex-end;
}
.jb{
  justify-content: space-between;
}
.ja{
  justify-content: space-around;
}
.jeven{
  justify-content: space-evenly;
}
.ac{
  align-items:center;
}
.ae{
  align-items: flex-end;
}
.as{
  align-items: stretch;
}
.wsnw{
  white-space: nowrap;
}
.tc{
  text-align: center;
}
.tr{
  text-align: right;
}
.ma{
  margin:auto;
}
.relative{
  position:relative;
}
.absolute{
  position: absolute;
}
.fb{
  font-weight:700;
}
.fsb{
  font-weight: 600;
}
.mb24{
  margin-bottom: 24px;
}
.mr16{
  margin-right: 16px;
}

.inter{
  font-family: Inter, sans-serif;
}
