$xl:1920px;
$container:1680px;
$laptop:1024px;
$tablet:768px;
$mobile:450px;
$min-viewport:320px;

$text-color:#0F131F;
$black-text: rgba(33, 32, 31, 1);
$grey-text: rgba(148, 152, 166, 1);
$bg-color:#f0f1f2;

$block-padding:15px;
$inter: Inter, sans-serif;