@use "variables" as *;
@import "fonts";
@import "mixins";
@import "reset";
@import "modificators";
@import "uikit";

body {
  font-family: Inter, sans-serif;
  font-size:14px;
  color: $text-color;
  background-color:$bg-color;
}
button{
  cursor: pointer;
}
.main-container {
  max-width: $container;
  margin: auto;
  padding: 0 40px;
  @include respond($mobile){
    padding: 0 12px;
  }
}
// название раздела
h2{
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 50px;
  color: $black-text;
  letter-spacing: -1.44px;

  @include respond($mobile){
    font-size: 18px;
    letter-spacing: -0.72px;
    margin-bottom: 16px;
  }
}
//  Название товара
h3{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 12px;
  color: $black-text;
  line-height: 130%;
  letter-spacing: -0.4px;
  @include respond($large){
    font-size: 15px;
  }
  @include respond($mobile){
    font-size: 13px;
    line-height: 120%;
    letter-spacing: -0.26px;
    margin-bottom: 4px;
  }
}

// кнопки слайдера
.block-title-right{
  align-items: flex-start;
  gap: 8px;
  @include respond($mobile){
    gap: 4px;
  }    
}

//  выгодные предложения
.offers-block{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  gap:32px;
  margin-bottom: 32px;
  overflow:auto;
  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(95deg, #FECE00 38.11%, #FFDF57 93.2%);
  }
  @include respond($mobile){
    &::-webkit-scrollbar{
      display:none;
    }
  }
  padding-bottom: 32px;
  .items-block__item{
    width: 376px;
  }
  @include respond($container){
    .items-block__item {
      width: calc((100vw - 176px) / 4);
    }
  }
  @include respond($large){
    gap:16px;
    .items-block__item {
      width: calc((100vw - 128px) / 4);
    }
  }
  @include respond($desktop){
    grid-template-columns: repeat(3,1fr);
    .items-block__item {
      width: calc((100vw - 112px) / 3)
    }
  }
  @include respond($tablet){
    grid-template-columns: repeat(2,1fr);
    .items-block__item {
      width: calc((100vw - 96px) / 2)
    }
  }
  @include respond($tablet-sm){
    margin-bottom: 0;
    .items-block__item {
      width: calc(100vw - 80px);
    }
  }
  @include respond($mobile){
    .items-block__item {
      width: calc(100vw - 24px);
    }
  }
}
.items-block__item{
  display:flex;
  flex-direction: column;
  &.hidden{
    display: none;
  }
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 15px 25px 0px rgba(234, 234, 237, 0.36);
  @include respond($mobile){
    padding: 16px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 16px;
    grid-row: auto;
  }
}
// Картинка товара, кружки 

.card-header{
  @include respond($mobile){

  }
  .product-image{
    width: 100%;
    max-height: 280px;
    border-radius: 20px;
    margin-bottom: 24px;
    position: relative;
    object-position: center;
    object-fit: cover;
    @include respond($mobile){
      width: 100px;
      height: 100px;
      margin:0;
      border-radius: 6px;
    }
  }
  .circle-container{
    position: absolute;
    top: 24px;
    right: 24px;
    gap:4px;
    @include respond($mobile){
      top:6px;
      left: 32px;
      width: 62px;
    }
    .circle{
      width: 32px;
      height: 32px;
      @include respond($mobile){
        width: 18px;
        height: 18px;
      }
    }
  }
}


// Название, состав, характеристика
.card-content{
  padding: 0 32px;
  color:$grey-text;
  margin-bottom: 24px;
  @include respond(1550px){
    padding: 0 16px;
  }
  @include respond($large){
    font-size: 10px;
  }
  @include respond($mobile){
    padding: 0;
    margin-bottom: 12px;
    }
  p{
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    @include respond($large){
      font-size: 10px;
    }
    @include respond($mobile){
      font-size: 9px;
      margin-bottom: 8px;
    }
  }
  .short-information{
    gap:8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    @include respond($mobile){
      gap:4px;
      font-size: 9px;
    }
    li:last-child{
      margin-left: auto;
      @include respond($mobile){
      margin-left: 0;
      }
    }
    li{
      background-color: rgba(246, 246, 248, 1);
      padding: 8px;
      border-radius: 8px;
      @include respond($large){
        font-size: 10px;
      }
      @include respond($mobile){
        padding: 4px;
        border-radius: 4px;
      }
      span{
        font-family: Inter, sans-serif;
      }
    }
  }
}

// Ценники, кнопки корзины, изменения штук
.card-footer{
  margin-top:auto;
  font-family: Inter, sans-serif;
  display: flex;
  padding: 0 32px 32px;
  @include respond(1550px){
    padding: 0 16px 16px;
  }
  @include respond($mobile){
    padding: 0;
    grid-column: 2;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 32px;
  }
  .price-container{
    flex-direction: column;
    align-items: flex-start;
    div+div{
      margin-top:4px;
    }
    .price-old{
      color: $grey-text;
      text-decoration: line-through;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      @include respond($large){
        font-size: 12px;
      }
      @include respond($mobile){
        font-size: 11px;
      }
  }
    .price-current{
      color: $black-text;
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      @include respond($large){
        font-size: 18px;
      }
      @include respond($mobile){
        font-size:11px;
        display: none;
      }
    }
  }
  button{
    margin-left: auto;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    @include respond($large){
      padding: 8px 10px;
    }
    @include respond($mobile){
      padding: 8px 12px;
      height: 32px;
      width: 78px;
      align-items: center;
      font-size: 11px;
      margin: 0;
      margin-right: 10px;
    }
    .price{
      display: none;
      @include respond($mobile){
        display: inline;
      }
    }
    .icon-basket{
      font-size: 24px;
      margin-right: 8px;
      @include respond($mobile){
        font-size: 11px;
        margin-right: 4px;
      }
    }
    .title{
      @include respond($mobile){
        display: none;
      }
    }
  }
  .in-basket{
    width: 56px;
    height: 56px;
    margin-left:8px;
    background: linear-gradient(95deg, #FECE00 38.11%, #FFDF57 93.2%);
    border:0;
    position: relative;
    @include respond($large){
      margin-left: 4px;
      width: 42px;
      height: 42px;
    }
    @include respond($mobile){
      width: 32px;
      height: 32px;
      border-radius: 50%;
      padding: 16px;
    }
    span{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    span:last-child{
      display: none;
    }
  }
  .count-in-basket{
    color: $black-text;
    font-size: 15px;
    width: 144px;
    height: 56px;
    padding: 16px 20px;
    gap: 12px;
    background:#F6F6F8;
    border-radius: 90px;
    margin-left: auto;
    @include respond($large){
      width: 110px;
      height: 42px;
      font-size: 11px;
      padding: 8px 10px;
    }
    @include respond($mobile){
      padding: 8px 12px;
      font-size: 11px;
      width: 78px;
      height: 32px;
      margin: 0 8px;
      gap: 2px;
    }
    button{
      border: 0;
      padding: 0;
      background: #F6F6F8;
    }
  }
}

//  раздел наборов
.package-block{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:32px;
  @include respond($large){
    gap:16px;
  }
  @include respond($desktop){
    grid-template-columns: repeat(3,1fr);
  }
  @include respond($tablet){
    grid-template-columns: repeat(2,1fr);
  }
  @include respond($tablet-sm){
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}


//  подключение икомуна
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
  content: "\e900";
}
.icon-telegram:before {
  content: "\e901";
  color: #656b80;
}
.icon-whatsup:before {
  content: "\e902";
  color: #656b80;
}
.icon-percent:before {
  content: "\e903";
  color: #fff;
}
.icon-vk:before {
  content: "\e904";
  color: #656b80;
}
.icon-user-gray:before {
  content: "\e905";
  color: #9498a6;
}
.icon-pepper:before {
  content: "\e906";
  color: #fff;
}
.icon-geo:before {
  content: "\e907";
  color: #fece00;
}
.icon-watch:before {
  content: "\e908";
  color: #fece00;
}
.icon-phone:before {
  content: "\e909";
  color: #fece00;
}
.icon-user-white:before {
  content: "\e90a";
  color: #fff;
}
.icon-sale .path1:before {
  content: "\e90b";
  color: rgb(254, 206, 0);
}
.icon-sale .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-minus:before {
  content: "\e90d";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-Symbol:before {
  content: "\e90f";
  color: #9498a6;
}
.icon-arrowr:before {
  content: "\e910";
}
.icon-arrowl:before {
  content: "\e911";
}
.icon-longarrow:before {
  content: "\e912";
}