@use "variables" as *;
@import "fonts";
@import "mixins";
@import "reset";
@import "modificators";


body {
  font-family: Montserrat;
  font-size:14px;
  color: $text-color;
  background-color:$bg-color;
}

.main-container {
  max-width: $container;
  margin: auto;
}

.block-title {
  padding:0 $block-padding;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom:50px;
  @include respond($laptop){
    font-size:36px;
    margin-bottom:40px;
  }
  @include respond($tablet){
    @include resp-font(36px,24px,$tablet,$min-viewport);
    margin-bottom:25px;
  }
}

.advantages{
  padding:0 $block-padding;
  gap:25px;
  @include respond($laptop){
    flex-wrap:wrap;
  }
  @include respond($tablet){
    gap:15px;
  }
  .advantagesItem{
    padding:20px;
    line-height: 1.5;
    border-radius: 20px;
    background: #fff;
    font-size:16px;
    width:210px;
    height: 190px;
    img{
      height: 66px;
      margin-bottom: 15px;
    }
    @include respond($container){
      font-size:14px;
    }
    @include respond($laptop){
      width:calc(33.33% - 25px*2/3);
      font-size:16px;
    }
    @include respond($tablet){
      width:calc(50% - 15px/2);
      flex-grow: 1;
    }
    @include respond($mobile){
      padding:20px 15px;
      height: 150px;
      img{
        height: 50px;
      }
      @include resp-font(15px,13px,$mobile,$min-viewport);
    }
  }
}