-
    var items = [
        'Гарантия на услуги до 1 года',
        'Оригининальные запчасти Apple',
        'Работаем в Томске уже 11 лет',
        'Опыт более 40 000 ремонтов',
        'Сертифицированное оборудование'
    ]

.block-title Ремонт смартфонов и другой техники в Томске
.advantages.d-flex.jc
        each val, index in items
            .advantagesItem.d-flex.fc.jc.ac.tc
                img(src=require('../images/advantage-icon'+(index+1)+'.png'))
                span.tc=val
