doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimal-ui')
    title= 'Быстрый запуск Webpack'
  body
  .main-container
    //- include blocks/itemBlock.pug
    //- include blocks/aboutCompanyBlock.pug
    //- include blocks/feedback.pug
    //- include blocks/productBlock.pug
    include blocks/delivery.pug
    